#root {
  text-align: center;
  background-image: url('./assets/hospital front.jpeg');
  background-size: cover; /* Ensures the image covers the entire element without distorting */
  background-position: center; /* Centers the image */
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vw; /* Ensures the width spans the entire viewport */
  height: 100vh; /* Sets height to the full viewport height */
  margin: 0; /* Removes any default margin */
  padding: 0; /* Removes any default padding */
}
